<div class='skills'>
  <% if @skills.any? %>
    <ul>
      <% @skills.each do |skill| %>
        <li>
          <b><span class="skill-name"><%= skill.name %></span></b> -
          <span><%= skill.description %></span>
        </li>
        <br>
      <% end %>
    </ul>
  <% else %>
    <p>
      No skills right now ;) check back soon!
    </p>
  <% end %>
</div>
