<h1>Cory Spitzer</h1>
<h4>Aspiring Software Developer</h4>

<div class=well>
  <p>
    I love thinking through technical challenges and implementing solutions. I thrive on asking how things work and elucidating my understanding to others, whether they are technically minded or completely lack confidence in their proficiency with technical concepts. Creating software gives me the opportunity to constantly learn new technologies and tools, and refine my understanding of the underlying processes. It also allows me to communicate my ideas clearly and succinctly by writing well-documented (often self-documenting) code.
  </p>
  <p>
    Check out my projects below, or take a
    look at my <a href="https://github.com/coryspitzer">Github</a> or
    my <a href="https://www.linkedin.com/in/coryspitzer">LinkedIn</a>.
  </p>
</div>

<h2>Projects</h2>

<%= flash[:notice] %>

<% @projects.each do |project| %>
  <p>
    <h3><%= link_to project.name, project_path(project) %></h3>
    <% if project.link %>
      <h5><%= link_to 'Source Code', project.link %></h5>
    <% end %>
  </p>
  <p><%= project.description.html_safe %></p>
<% end %>
