%h1= @project.name
%p
  = @project.description.html_safe
%div
  = link_to 'Delete Project', project_path(@project), class: "btn btn-danger", |
    data: {confirm: 'Destroy it?!',                                            |
    method: 'delete'}                                                          |
  = link_to 'Edit Project', edit_project_path(@project), class: "btn btn-warning"
