<h1><%= @project.name %></h1>
<p class='well'>
  <%= @project.description %>
</p>
<div>
  <%= link_to 'Delete Project', project_path(@project), class: "btn btn-danger",
               data: {confirm: 'Destroy it?!',
                      method: 'delete'} %>
  <%= link_to 'Edit Project', project_path(@project), class: "btn btn-warning" %>
</div>
