<div id='new-reference'>
  <%= link_to 'Add Reference', new_reference_path(@reference), id: 'new-reference-link', remote: true %>
</div>

<div id="new-reference-form">

</div>

<h3>References:</h3>

<div class='references'>
  <% if @references.any? %>
    <% @references.each do |reference| %>
      <hr>
      <h4> <%= reference.referee %> </h4>
      <h5> <%= reference.referee_info %> </h5>
      <p>
        <%= reference.body %>
      </p>
    <% end %>
  <% else %>
    <p>
      No references right now, check back soon!
    </p>
  <% end %>
</div>
