<div id='new-reference'>
  <%= link_to 'Add Reference', new_reference_path(@reference), id: 'new-reference-link', remote: true %>
</div>

<div id="new-reference-form">

</div>

<h3>References:</h3>

<div id="references">
  <%= render 'references' %>
</div>
