<h2>Posts:</h2>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h4> <%= link_to post.title, post_path(post) %></h4>
    <p>
      <%= post.body %>
    </p>
  <% end %>
   <%= will_paginate @posts %>

<% else %>
  <h3>No posts, please check back again later!</h3>
<% end %>
